// В этом файле должны быть стили для БЭМ-блока slider-news, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider-news {
	padding: 20px 15px;
	position: static;
	&__wrapper {
		display: grid;
		grid-auto-flow: column;
	}
	&__slide {}
	&__button-prev, &__button-next {
		background: var(--color-white);
		border-radius: 3px;
		box-shadow: var(--box-shadow-centered);
		height: 50px;
		padding: 12px;
		width: 50px;
		&:hover {
			.slider-news__button-icon {
				fill: var(--color-accent);
			}
		}
	}
	&__button-prev {
		left: 50%;
		top: 47%;
		transform: translateX(-710px);
	}
	&__button-next {
		left: 50%;
		top: 47%;
		transform: translateX(660px);
	}
	&__button-prev::after, &__button-next::after {
		content: '';
	}
	&__button-icon {
		fill: var(--color-primary);
		flex-shrink: 0;
		height: 24px;
		transition: fill .25s ease;
		width: 24px;
		.slider-news__button-prev & {
			transform: rotate(180deg);
		}
	}
}

.swiper-button-disabled {
	.slider-news & {
		display: none;
	}
}
