//- Все примеси в этом файле должны начинаться c имени блока (info-card)

mixin info-card(items)
	each item in items
		a.info-card(href='#')
			.info-card__cover
				img.info-card__img(src='img/img__' + item.img + '_@1.jpg' srcset='img/img__' + item.img + '_@2.jpg 2x' alt=item.img)
			.info-card__content
				.info-card__text
					h2.info-card__heading!= item.title
				.info-card__more
					svg.info-card__icon
						use(xlink:href='img/svgSprite.svg#icon__arrow_line')