// В этом файле должны быть стили для БЭМ-блока action, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.action {
	&__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 115px 0;
		text-align: center;
	}
	&__text {
		color: var(--color-secondary);
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 0.015em;
		line-height: 1.65;
		margin: 36px 0 0 0;
		max-width: 470px;
	}
	&__form {
		margin-top: 44px;
		max-width: 798px;
	}
	&__field:first-of-type {
		width: 248px;
	}
	&__button {
		width: 220px !important;
	}
}
