// В этом файле должны быть стили для БЭМ-блока footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer {
	background-color: var(--color-primary);
	&__inner {
		padding: 41px 0 44px;
		@media (min-width: $screen-md) {
			padding: 64px 0 40px;
		}
	}
	&__row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 36px;
		@media (min-width: $screen-md) {
			box-shadow: var(--inner-shadow-top-secondary);
			flex-direction: row;
			margin-top: 40px;
			padding-top: 40px;
		}
	}
	&__col {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
	}
	&__button {
		height: 56px;
		margin-top: 30px;
		@media (min-width: 600px) {
			max-width: 300px;
		}
	}
	&__link-row {
		box-shadow: var(--inner-shadow-bottom-secondary);
		display: flex;
		flex-direction: column;
		padding-bottom: 24px;
		@media (min-width: 600px) {
			flex-direction: row;
		}
		@media (min-width: $screen-md) {
			box-shadow: none;
			padding-bottom: 0;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		@media (min-width: $screen-md) {
			width: 66.67%;
		}
	}
	&__link {
		color: var(--color-quinary);
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.02em;
		line-height: 1.6;
		text-decoration: none;
		transition: opacity .25s ease;
		@media (min-width: $screen-xl) {
			color: var(--color-white);
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.01em;
			line-height: 1;
		}
		&:hover {
			opacity: .5;
		}
	}
	&__link + &__link {
		margin-top: 20px;
		@media (min-width: 600px) {
			margin-left: 24px;
			margin-top: 0;
		}
		@media (min-width: $screen-xl) {
			margin-left: 72px;
		}
	}
	&__consent {
		color: var(--color-secondary);
		font-size: 12px;
		font-weight: 300;
		line-height: 1.26;
		margin: 32px 0 0 0;
		max-width: 740px;
		@media (min-width: $screen-xl) {
			font-size: 16px;
			font-weight: 300;
			line-height: 1.25;
		}
		a {
			color: var(--color-brand);
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__copy {
		color: var(--color-white);
		font-size: 14px;
		font-weight: 300;
		line-height: 1.15;
		margin: 20px 0 0 0;
		@media (min-width: $screen-md) {
			margin-top: 40px;
		}
		&_mob {
			order: 3;
			@media (min-width: $screen-md) {
				display: none;
			}
		}
		&_desk {
			display: none;
			@media (min-width: $screen-md) {
				display: block;
			}
		}
	}
	&__contact-set {
		display: flex;
		flex-direction: column;
		margin-top: 28px;
		@media (min-width: $screen-md) {
			align-items: flex-end;
			margin-top: 0;
			text-align: right;
			width: 33.33%;
		}
	}
	&__contact {
		color: var(--color-secondary);
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.01em;
		line-height: 1;
		margin: 0;
		white-space: nowrap;
	}
	&__phone {
		color: var(--color-white);
		font-size: 38px;
		font-weight: 400;
		letter-spacing: 0.015em;
		line-height: 1.25;
		margin-top: 8px;
		text-decoration: none;
		transition: opacity .25s ease;
		white-space: nowrap;
		&:hover {
			opacity: .5;
		}
	}
	&__social-set {
		align-items: center;
		display: flex;
		margin-top: 17px;
		@media (min-width: $screen-md) {
			margin-top: 32px;
		}
	}
	&__social {
		&:hover {
			.footer__social-icon {
				fill: var(--color-white);
			}
		}
	}
	&__social + &__social {
		margin-left: 32px;
	}
	&__social-icon {
		fill: var(--color-secondary);
		height: 40px;
		transition: fill .25s ease;
		width: 40px;
	}
}
