.menu
	+menu([
		{title: 'Тарифы', href: '#', hasNav: true, link: [
			{
				href: '#',
				link: 'Безлимитный интернет',
				isActive: true
			},
			{
				href: '#',
				link: 'Много звонков'
			},
			{
				href: '#',
				link: 'Все и сразу'
			},
			{
				href: '#',
				link: 'Детский'
			},
			{
				href: '#',
				link: 'Для модемов'
			},
			{
				href: '#',
				link: 'Для умных устройств'
			},
		]},
		{title: 'Стать абонентом Летай', href: '#', hasNav: true, link: [
			{
				href: '#',
				link: 'Выбрать красивый номер'
			},
			{
				href: '#',
				link: 'Перейти со своим номером'
			},
			{
				href: '#',
				link: 'Заказать доставку сим - карты'
			}
		]},
		{title: 'Акции', hasNav: true, href: '#', link: [
			{
				href: '#',
				link: 'Вместе выгодно 2.0'
			},
			{
				href: '#',
				link: 'Вместе выгодно'
			}
		]},
		{title: 'Роуминг', hasNav: true, href: '#', link: [
			{
				href: '#',
				link: 'В поездках по России'
			},
			{
				href: '#',
				link: 'В поездках за границей'
			}
		]},
		{title: 'Оплата услуг', href: '#',},
		{title: 'Полезные команды', href: '#',}
	], '', '0')
	+menu([
		{title: 'Тарифы', href: '#', hasNav: true, link: [
			{
				href: '#',
				link: 'Домашний интернет + ТВ + мобильная связь'
			},
			{
				href: '#',
				link: 'Домашний интернет'
			},
			{
				href: '#',
				link: 'Домашний интернет + ТВ'
			},
			{
				href: '#',
				link: 'Интернет + ТВ для частного дома'
			}
		]},
		{title: 'Акции', href: '#', hasNav: true, link: [
			{
				href: '#',
				link: 'Вместе выгодно 2.0'
			},
			{
				href: '#',
				link: 'Вместе выгодно'
			}
		]},
		{title: 'Дополнительные услуги', href: '#', hasNav: true, link: [
			{
				href: '#',
				link: 'Антивирус'
			},
			{
				href: '#',
				link: 'Статичный IP'
			}]
		},
		{title: 'Оплата услуг', href: '#',}
	], 'menu__inner_hidden', '1')
	+menu([
		{title: 'Тарифы', href: '#', hasNav: true, link: [
			{
				href: '#',
				link: 'Базовый пакет каналов'
			},
			{
				href: '#',
				link: 'Дополнительные пакеты каналов'
			}
		]},
		{title: 'Акции', href: '#', hasNav: true, link: [
			{
				href: '#',
				link: 'Вместе выгодно 2.0'
			},
			{
				href: '#',
				link: 'Вместе выгодно'
			}
		]},
		{title: 'Онлайн ТВ', href: '#'},
		{title: 'Оплата услуг', href: '#',}
	], 'menu__inner_hidden', '2')
	+menu([
		{title: 'Домофон', href: '#'},
		{title: 'Домофон', href: '#',}
	], 'menu__inner_hidden', '3')
	+menu([
		{title: 'Смартфоны', href: '#', hasNav: true, link: [
			{
				href: '#',
				link: 'Смартфоны Honor'
			},
			{
				href: '#',
				link: 'Смартфоны Samsung'
			},
			{
				href: '#',
				link: 'Смартфоны Oppo'
			},
			{
				href: '#',
				link: 'Смартфоны Realme'
			},
			{
				href: '#',
				link: 'Смартфон Xiaomi'
			}
		]},
		{title: 'Смарт-часы и Фитнес-браслеты', href: '#'},
		{title: 'Наушники и колонки', href: '#'},
		{title: 'Аксессуары', href: '#',}
	], 'menu__inner_hidden', '4')