header.header
	.header__nav-set.header__nav-set_mob
		.grid
			.grid__row
				.grid__col
					.header__inner
						.header__secondary-nav
							+secondary-nav([
								{isSelect: true, title: 'Частным клиентам', link:
									[
										{link: 'Бизнесу', href: '#'},
										{link: 'Что-то еще', href: '#'},
										{link: 'Что-то еще2', href: '#'}
									]
								}
							])
						.header__tertiary-nav
							+tertiary-nav([
								{isIconed: true, isSelect: true, href: '#', title: 'Казань', icon: 'navigation', link:
									[
										{link: 'Москва', href: '#'},
										{link: 'Санкт-Петербург', href: '#'},
										{link: 'Екатеринбург', href: '#'}
									]
								}
							])
	.grid
		.grid__row
			.grid__col
				.header__inner
					.header__logo-set
						svg.header__logo-primary
							use(xlink:href='img/svgSprite.svg#logo_primary')
						svg.header__logo-secondary
							use(xlink:href='img/svgSprite.svg#logo_secondary')
						svg.header__tariff
							use(xlink:href='img/svgSprite.svg#tariff')
					.header__nav-set.header__nav-set_desk
						.header__row
							.header__secondary-nav
								+secondary-nav([
									{link: 'Частным клиентам', href: '#'},
									{link: 'Бизнесу', href: '#'},
									{isSelect: true, title: 'Еще', link:
										[
											{link: 'Интернет1', href: '#'},
											{link: 'Телевидение1', href: '#'},
											{link: 'Домофон1', href: '#'}
										]
									}
								])
							.header__tertiary-nav
								+tertiary-nav([
									{link: 'Поддержка', href: '#'},
									{link: 'Офисы продаж', href: '#'},
									{link: 'Оплата', href: '#'},
									{isIconed: true, isSelect: true, href: '#', title: 'Казань', icon: 'navigation', link:
										[
											{link: 'Москва', href: '#'},
											{link: 'Санкт-Петербург', href: '#'},
											{link: 'Екатеринбург', href: '#'}
										]
									},
									{isIconed: true, link: 'Личный кабинет', icon: 'person', href: '#'}
								])
						.header__row
							.header__primary-nav
								+primary-nav([
									{link: 'Мобильная связь', href: '#', tab: '0', isActive: true},
									{link: 'Интернет', href: '#', tab: '1'},
									{link: 'Телевидение', href: '#', tab: '2'},
									{link: 'Домофон', href: '#', tab: '3'},
									{link: 'Каталог устройств', href: '#', tab: '4'}
								])
							.header__actions
								.header__button
									a.button.button_primary(href="#") Стать абонентом
								.header__search
									.search
										.search__inner
											svg.search__icon
												use(xlink:href='/img/svgSprite.svg#icon__search')
											input.search__input(type='search' placeholder='Поиск')
											.search__cleaner
					a.header__account(href='#')
						svg.header__account-icon
							use(xlink:href='img/svgSprite.svg#icon__person')
					svg.header__menu
						use(xlink:href='img/svgSprite.svg#icon__menu')