//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.

include ../blocks/info-card/info-card.pug
include ../blocks/link-set/link-set.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/secondary-nav/secondary-nav.pug
include ../blocks/slider-card/slider-card.pug
include ../blocks/slider-news/slider-news.pug
include ../blocks/tertiary-nav/tertiary-nav.pug
