//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.

include ../blocks/link-set/link-set.pug
include ../blocks/menu/menu.pug
include ../blocks/primary-nav/primary-nav.pug
include ../blocks/secondary-nav/secondary-nav.pug
include ../blocks/slider-card/slider-card.pug
include ../blocks/slider-info/slider-info.pug
include ../blocks/slider-news/slider-news.pug
include ../blocks/tertiary-nav/tertiary-nav.pug
