// В этом файле должны быть стили для БЭМ-блока slider-info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider-info {
	padding: 20px 15px;
	position: static;
	@media (min-width: $screen-sm) {
		padding-bottom: 44px;
	}
	@media (min-width: $screen-lg) {
		padding-bottom: 20px;
	}
	&__wrapper {
		display: grid;
		grid-auto-flow: column;
		grid-auto-rows: 1fr;
	}
	&__slide {
		@media (max-width: 767px) {
			width: 285px !important;
		}
	}
	&__pagination {
		display: none;
		transform: translateY(12px);
		@media (min-width: $screen-sm) {
			display: block;
		}
		@media (min-width: $screen-lg) {
			display: none;
		}
	}
	&__button-prev, &__button-next {
		background: var(--color-white);
		border-radius: 3px;
		box-shadow: var(--box-shadow-centered);
		display: none;
		height: 50px;
		padding: 12px;
		width: 50px;
		@media (min-width: $screen-lg) {
			display: flex;
		}
		&:hover {
			.slider-news__button-icon {
				fill: var(--color-accent);
			}
		}
	}
	&__button-prev {
		left: 50%;
		top: 47%;
		transform: translateX(-505px);
		@media (min-width: $screen-lg) {
			transform: translateX(-630px);
		}
		@media (min-width: $screen-xl) {
			transform: translateX(-710px);
		}
	}
	&__button-next {
		left: 50%;
		top: 47%;
		transform: translateX(470px);
		@media (min-width: $screen-lg) {
			transform: translateX(580px);
		}
		@media (min-width: $screen-xl) {
			transform: translateX(660px);
		}
	}
	&__button-prev::after, &__button-next::after {
		content: '';
	}
	&__button-icon {
		fill: var(--color-primary);
		flex-shrink: 0;
		height: 24px;
		transition: fill .25s ease;
		width: 24px;
		.slider-news__button-prev & {
			transform: rotate(180deg);
		}
	}
}
