//- Все примеси в этом файле должны начинаться c имени блока (secondary-nav)

mixin secondary-nav(items)
	nav.secondary-nav
		ul.secondary-nav__list
			each item in items
				li.secondary-nav__item
					if item.isSelect === true
						.secondary-nav__drop-trigger(data-drop='true')
							p.secondary-nav__drop-title!= item.title
							svg.secondary-nav__drop-icon
								use(xlink:href='img/svgSprite.svg#icon__shewron_small')
						ul.drop-secondary
							each link in item.link
								li.drop-secondary__item(data-drop-item='true')
									a.drop-secondary__link(href= link.href target= link.isTarget ? '_blank' : '')!= link.link
					else
						a.secondary-nav__link(href= item.href target= item.isTarget ? '_blank' : '')!= item.link
