// В этом файле должны быть стили для БЭМ-блока secondary-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.secondary-nav {
	color: var(--color-teritary);
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2;
	@media (min-width: $screen-xl) {
		font-weight: 700;
	}
	&__list {
		display: grid;
		grid-auto-flow: column;
		grid-gap: 20px;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__item {
		position: relative;
	}
	&__link {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&__drop-trigger {
		align-items: center;
		display: flex;
		&:hover {
			cursor: pointer;
		}
	}
	&__drop-title {
		margin: 0;
	}
	&__drop-icon {
		fill: var(--color-teritary);
		flex-shrink: 0;
		height: 16px;
		width: 16px;
	}
}
