// В этом файле должны быть стили для БЭМ-блока field, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field {
	@media (min-width: $screen-lg) {
		flex-grow: 1;
	}
	&_sm {
		@media (min-width: $screen-lg) {
			width: 126px;
			flex-grow: 0;
		}
	}
	&_md {
		@media (min-width: $screen-lg) {
			width: 188px;
			flex-grow: 0;
		}
	}
	&__inner {}
	&__label {
		color: var(--color-teritary);
		display: none;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: 0.02em;
		line-height: 1.6;
		margin-bottom: 10px;
		@media (min-width: 600px) {
			display: block;
			margin-bottom: 5px;
		}
		&_invert {
			color: var(--color-white);
		}
		.action-card_accent & {
			display: block;
		}
	}
	&__input {
		width: 100%;
	}
}
