// В этом файле должны быть стили для БЭМ-блока side-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.side-nav {
	height: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	position: absolute;
	width: 100%;
	&__inner {
		display: grid;
		grid-gap: 24px;
		padding: 8px 24px 16px 24px;
	}
	&__actions {
		display: grid;
		grid-gap: 8px;
	}
	&__button {}
	&__primary {
		@media (min-width: $screen-md) {
			display: none;
		}
	}
}
