// В этом файле должны быть стили для БЭМ-блока drop-tertiary, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.drop-tertiary {
	background: var(--color-white);
	border-radius: 4px;
	box-shadow: var(--info-card-shadow);
	display: none;
	list-style: none;
	margin: 0;
	padding: 16px;
	position: absolute;
	top: 32px;
	z-index: 3;
	.drop-secondary-open & {
		display: none;
	}
	.drop-tertiary-open & {
		display: block;
	}
	&__item + &__item {
		margin-top: 8px;
	}
	&__link {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
