// В этом файле должны быть стили для БЭМ-блока quick-action, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.quick-action {
	&__row {
		display: flex;
		flex-direction: column;
		@media (min-width: $screen-md) {
			flex-direction: row;
		}
		&:nth-of-type(even) {
			flex-direction: column-reverse;
			@media (min-width: $screen-md) {
				flex-direction: row-reverse;
			}
		}
	}
	&__row + &__row {
		margin-top: 30px;
	} 
}
