//- Все примеси в этом файле должны начинаться c имени блока (link-set)

mixin link-set(title, items)
	- title = title || ''
	.link-set
		.link-set__header
			h2.link-set__title!= title
			svg.link-set__icon
				use(xlink:href='img/svgSprite.svg#icon__shewron_large')
		.link-set__body
			.link-set__inner
				each item in items
					a.link-set__link(href= item.href target= item.isTarget === true ? '_blank' : '')!= item.link